/*
For header
*/
#header{
    margin-left: 1px;
    background-color:crimson;
}

/*
For the Main Container Section
*/

#mainSection{
    /* background-color:crimson; */
    margin-left: 200px;
    margin-right: 650px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*text-decoration: aliceblue;*/
}

#postSection {
    position:relative;
    background-color:crimson;
    margin-left: 200px;
    margin-right: 650px;
    /* margin-bottom: 1px; */
    /* margin-top: -505px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.nav-link {
    color: #000;
    color: #000;
    text-decoration-line:inherit;
}

#firstPost,#secondPost {
    font-size:14px
}

#footer {
    margin-top: 50px;
    text-align: center;
    font-family:'Lucida Sans Regular';
}

.fakeimg {
    height: 92%;
    background: rgb(124, 116, 116);
}

.fakeimg2 {
    height: 33%;
    background: rgb(124, 116, 116);
  }

nav {
    position:fixed;
    margin-right: 100px;
    margin-top: -16px;
    font-family:'Lucida Sans Regular';
}